* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &::selection {
        background-color: #c5e8e3;
    }
}

body {
    position: relative;
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url('../fonts/Poppins-Light.ttf');
}

$mainBlack: #111827;
$mainGrey: #6B6B6B;
$backgroundGrey: #F7F6F5;

@mixin mixedColors {
    background: linear-gradient(-45deg, #fffebb, #ffb4bb, #bae1ff, #baffc9);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 100vh;
}

.content {
    background-color: #fff;

    .container {
        position: relative;
        padding: 20px 20px 0 20px;
        max-width: 1400px;
        margin: 0 auto;

        .cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 272px);
            gap: 10px;
            justify-content: center;
            cursor: pointer;

            .card {
                transition: 0.5s ease;
                position: relative;
                border-radius: 15px;
                background-color: #e5e5e563;
                box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);

                &:hover {
                    z-index: 10;
                }

                .card-icon {
                    display: none;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 20px;
                    height: 20px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &:hover .card-icon {
                    display: unset;
                    animation: pulse 2s ease-out infinite;
                }
            }
        }
    }
}





.card-name {
    margin-top: 12px;
    margin-left: 32px;
    color: $mainBlack;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.close {
    position: fixed;
    top: 5%;
    left: 5%;
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
}

iframe {
    position: absolute;
    width: 80vw;
    height: 90vh;
}

.modal-background {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #11182758;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-window {
        z-index: 5;
        top: 0;
        left: 0;
        width: 80vw;
        height: 90vh;
        background: #FFF;
        border-radius: 30px;

        iframe {
            border-radius: 30px;

        }

    }
}

.modal-form-background {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardNumber01 {
    padding: 32px;
    grid-column: 1 / 4;
    color: var(--main-black, $mainBlack);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .card-info {
        display: flex;
        gap: 42px;

        .card-photo {
            img {
                width: 208px;
                height: 208px;
            }
        }

        .card-description {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .name h1 span {
                color: $mainBlack;
                font-family: Poppins, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .text {
                color: $mainBlack;
                font-family: Poppins, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                text-align: justify;
            }
        }
    }

}

.cardNumber02 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    padding: 20px;
    background-image: url('../../src/images/banner.webp');
    background-size: cover;
    background-position: center;
}

.cardNumber03 {
    grid-column: 1 / 3;
    background-image: url('../../src/images/dashboard.webp');
    background-size: cover;
    background-position: center;


    .dashboard-text {
        color: $mainBlack;
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-weight: 300;
        width: 170px;
        margin-left: 32px;
        margin-top: 50px;
    }
}

.cardNumber04 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    background: linear-gradient(18deg, #F7E8D4 0%, #FFF8EE 100%) !important;


    .stack-text {
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 70%;
        margin-left: 32px;
        margin-top: 25px;
    }

}

.cardNumber05 {
    padding-left: 3px;
    padding-top: 3px;
    grid-column: 5 / 6;
    grid-row: 2 / 3;

    iframe {
        border-radius: 13px;
        width: 100%;
        height: 100%;
        border: none;

    }
}

.cardNumber06 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;

    a {
        display: flex;
        gap: 10px;
        color: $mainBlack;
        font-family: Poppins, sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
    }
}

.cardNumber07 {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-image: url('../../src/images/BIM.webp');
    background-size: cover;
    background-position: center;

    .bim-text {
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-weight: 300;
        width: 170px;
        margin-left: 32px;
        margin-top: 50px;
    }
}

.cardNumber08 {
    grid-row: 3 / 5;
    background-image: url('../../src/images/point-cloud.webp');
    background-size: cover;
    background-position: center;

    .card-icon {
        color: #fff;
    }

    .card-name {
        color: #fff;
        
    }

}

.cardNumber09 {
    background-image: url('../../src/images/maya.webp');
    background-size: cover;
    background-position: center;

    .card-icon {
        color: #fff;
    }

    .card-name {
        color: #fff;
    }

    .pet-info {
        margin-left: 32px;
        margin-top: 190px;
        color: #fff;
        font-family: Poppins, sans-serif;
        font-size: 20px;
        font-weight: 300;
    }


}

.cardNumber10 {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    cursor: auto;

    .contact-me-text {
        .container {
            padding: 32px;
            font-family: Poppins, sans-serif;
            font-size: 20px;
            font-weight: 300;
            position: relative;

            a {
                color: $mainBlack;
            }

            #messageNotSent {
                position: absolute;
                margin: 50px;
                top: 100px;
                left: 0;
                height: 160px;
                border: 1px solid red;
                vertical-align: middle;
                background-color: #ffffff;
                padding: 30px;

                button {
                    display: block;
                    margin: 0 auto;
                    padding: 5px 10px;
                    color: $mainBlack;
                    font-family: Poppins, sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    border: 0;
                    background-color: #dcbfd7;
                    border-radius: 5px;
                    cursor: pointer;

                    &:active {
                        transform: scale(1.05);
                    }
                }
            }

            form>* {
                display: block;
                margin-top: 30px;
            }

            form {
                margin-top: 30px;

                input,
                textarea {
                    background-color: transparent;
                    width: 100%;
                    color: $mainBlack;
                    font-family: Poppins, sans-serif;
                    font-size: 18px;
                    font-weight: 300;
                    outline: none;
                    color: #111827;

                }

                #submitButton {
                    width: 100%;
                    padding: 10px;
                    color: $mainBlack;
                    font-family: Poppins, sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    border: 0;
                    background-color: #dcbfd7;
                    border-radius: 5px;
                    cursor: pointer;

                    &:active {
                        transform: scale(1.05);
                    }
                }
            }

            input {
                padding: 7px;

                border: 0;
                border-bottom: 1px solid $mainGrey;
                outline: none;
            }

        }
    }

}

.cardNumber11 {
    grid-column: 3 / 4;
    grid-row: 4 / 6;
    background-color: #dbf4c9a5 !important;
    cursor: auto;
    flex-direction: column;
    align-items: center;
    gap: 5px;


    .socials {
        padding: 12px;
        display: flex;
        width: 160px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-left: calc(50% - 80px);
        margin-top: 30px;

        .social-item {
            justify-self: center;
            flex: 2;
            cursor: pointer;
            display: flex;

            &:hover {
                transition: 0.3s ease;
                transform: scale(1.2);
            }

            &:not(:hover) {
                transition: 0.3s ease;
            }
        }

        .social-item.linkedin:hover .qr-codes {
            border: 5px solid black !important;
        }
    }

    .qr-codes {
        margin: 0 auto;
        width: 200px;

        img {
            width: 100%;
        }

        .qr-linkedin {
            display: unset;
            margin-top: 50px;
        }

        .qr-whatsapp {
            display: none;
            margin-top: 50px;
        }

        .qr-instagram {
            display: none;
            margin-top: 50px;
        }

        .qr-telegram {
            display: none;
            margin-top: 50px;
        }
    }
}

.cardNumber12 {
    background-image: url('../../src/images/itsme.webp');
    background-size: cover;
    background-position: center;

}

.cardNumber13 {
    grid-column: 4 / 6;
    grid-row: 5 / 6; 
    canvas {
        border-radius: 12px;
    } 
}


.modal-about {
    max-width: 80vw;
    height: 100h;
    background-color: #fff;
}

.dashboard-icon {
    display: flex;
    justify-content: center;
    margin-top: -10px;


}



// Animations

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }

    40% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}





@import "adaptive.scss";